.forms {
    margin : 200px 0px 0px 700px;
}
.inp1 {
    padding: 20px;
    font-size: 26px;
    margin: 10px;
}
.inps {
    padding: 20px;
    font-size: 26px;
    margin: 10px;
    margin-left: 120px;
}