.navbar {
    /* border: 1px solid blue; */
    height: 100px;
    width: 100%;
    background-color: skyblue;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: 0;
    position: relative;
}

/* const URL = "http://localhost:5000/books";
const fetchHandler = async () => {
    return await axios.get(URL).then((res) => res.data);
  };
  const Books = () => {
    const [books, setBooks] = useState();
    const [currPage, setCurrPage] = useState(1);
    const [bookPerPage, setBookPerPage] = useState(5);
    useEffect(() => {
      fetchHandler().then((data) => setBooks(data.books));
    }, []);
    console.log("books", books);
 */